DEBUG=1
SECRET_KEY=v-4f37^j69*kyhe1bm7jqbn2x702ben3%_va^eg6dfy%7wjzy
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
CSRF_TRUSTED_ORIGINS=http://127.0.0.1
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=donat_pool
SQL_USER=postgres
SQL_PASSWORD=1234
SQL_HOST=localhost  #db for docker-compose
SQL_PORT=5432
DATABASE=donat_pool
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=donat_pool
FUNDRAISING_SCRIPT_ADDRESS=addr_test1xzzdr8nqcs7qyhw4qdgm7c0jrrhh6g6xv6l528qxfjwag3uy6x0xp3puqfwa2q63haslyx800535ve4lg5wqvnya63rs6wdx69
VER_TOKEN_CS=95464e4f5afc90bfebb8bfece80b5cba98dc1c558cddddb7bcd081c1